model:
  base_learning_rate: 5.0e-05
  adjust_learning_rate: false
  find_unused_parameters: true
  gradient_clip_algorithm: norm
  precision: 16-mixed
  grad_clip: 1.0
  grad_acc_steps: 4
  target: models.second_stage.fm_model.ModelIF
  params:
    warmup_steps: 5000
    min_lr_multiplier: 0.1
    enc_scale: 4
    adjust_lr_to_batch_size: false
    tokenizer_config:
      folder: /work/dlclarge2/alidemaa-text-control-orbis/orbis/logs_tk/tokenizer_288x512
      ckpt_path: checkpoints/epoch-26_rfid_8_9.ckpt
    generator_config:
      target: networks.DiT.dit.STDiT
      params:
        max_num_frames: 64
        hidden_size: 768
        depth: 12
        num_heads: 12
        mlp_ratio: 4
        input_size:
        - 12
        - 21
        patch_size: 1
        in_channels: 16
        dropout: 0.0
        ctx_noise_aug_ratio: 0.1
        ctx_noise_aug_prob: 0.5
        drop_ctx_rate: 0.1
data:
  target: data.datamodule.DataModuleFromConfig
  params:
    batch_size: 8
    num_workers: 4
    train:
    - target: data.custom_multiframe.MultiHDF5DatasetMultiFrameRandomizeFrameRate
      params:
        #hdf5_paths_file: /p/scratch/nxtaim-1/users/galesso1/datasets/bdd_h5/bdd_day_clear_12k_640x360.txt
        hdf5_paths_file: /work/dlcsmall2/galessos-bdd_ssd2/h5/train_bdd_day_clear_12k_videos_640x360.txt
        size:
        - 192
        - 336
        num_frames: 6
        stored_data_frame_rate: 5
        frame_rates_and_weights:
        - - 5
          - 1
        aug: random_shift
        scale_min: 0.15
        scale_max: 0.5
    validation:
      target: data.custom_multiframe.MultiHDF5DatasetMultiFrameFromJSONFrameRateWrapper
      params:
        #samples_json: /p/scratch/nxtaim-1/mousakhan1/data/bdd_val/selected_validation_next_frame.json
        samples_json: /work/dlcsmall2/galessos-bdd_ssd2/h5/selected_validation_next_frame.json
        size:
        - 192
        - 336
        num_frames: 6
        stored_data_frame_rate: 5
        frame_rate: 5
-t: null
